<div class="beerList">
 <table class="table table-bordered tablebeers">
  <thead>
    <tr>
      <th>Brew</th>
      <th>Brewery</th>
      <th>Style</th>
      <th>Description</th>
    </tr>
  </thead>
  {{#each beers as |beer|}}
  <tbody>
    <tr>
      <td>{{beer.beer}}</td>
      <td>{{brewery}}</td>
      <td>{{style}}</td>
      <td>{{description}}</td>
    </tr>
  </tbody>
  {{/each}}
  </table>
</div>
