$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

* {
  box-sizing: border-box;
}

body {
  font-family: fantasy;
  color: white;
  padding: 100px;
}

header {
  height: 50px;
  color: brown;
  font-size: 20px;
  text-align: center;
  margin: 5px;
}

th {
  text-decoration: underline;
}

.container-fluid {
  background: url('http://i.imgur.com/weold6L.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  padding: 10px;
}

.section {
  color: white;
  padding: 10px;
}

.tablebeers {
  margin: 10 auto;
  padding: 10;
  overflow: auto;
}

.navbar-collapse {
  float: right
}

.navbar-brand {
  color: white;
}

.navbar {
  float: right;
  margin-right: 4%;
}
.modal-content {
  color: black;
}
.bottom {
  color: black;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
