$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';


body {
  font-family: fantasy;
  color: black;
}

header {
  height: 50px;
  color: brown;
  font-size: 20px;
  text-align: center;
  margin: 5px;
}

.container-fluid {
  background: url('http://i.imgur.com/xaSma9g.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}

.container {
  padding: 10px;
}

.section {
  color: white;
}

.tablebeers {
  margin: 0 auto;
  overflow: auto;
}

#show-beers {
  float: right;
}
